<div class="container">
  <h1>These are our products:</h1>
  <table class="table table-dark" style="text-align: center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Img</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Details</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productsList; track $index) {
      <tr>
        <th scope="row">1</th>
        <td>
          <img src="{{ product.image }}" class="img-fluid" style="width: 80px;" alt="{{ product.title }}"/>
        </td>
        <th>{{product.title}}</th>
        <th>{{product.price}}</th>
        <th><button class="btn btn-outline-primary" (click)="navigate(product.id)">Details</button></th>
      </tr>
      }
    </tbody>
  </table>
</div>
